.DS_Store

patches/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.npmrc
react-native-nami-sdk-*.tgz

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
Pods/
Gemfile.lock

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# VSCode
.vscode/

# BUCK
buck-out/
\.buckd/
*.keystore
IDEWorkspaceChecks.plist
Podfile.lock

examples/Basic/android/app/src/main/assets/
examples/Basic/android-test.sh
examples/Basic/android/app/.cxx/
examples/Basic/artifacts/
*.orig
examples/Basic/ios/.xcode.env.local
examples/TestNamiTV/ios/.xcode.env.local

examples/TestNamiTV/android/app/src/main/assets/
examples/TestNamiTV/android-test.sh
examples/TestNamiTV/android/app/.cxx/
examples/TestNamiTV/artifacts/
