<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.namiml.reactnative">


    <application>
        <activity
            android:name=".ReactOverlayActivity"
            android:theme="@style/Theme.TransparentReact"
            android:exported="false"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" />
    </application>
</manifest>
